body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 20px 0;
  font-size: 36px;
  background: linear-gradient(45deg, #cf6c6f, #cf9e91, #424040, #d37e67);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bold;
  animation: change 2s linear infinite alternate;
  background-clip: text;
  background-size: 200% 200%;
}

@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.container {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #f6d365 0%, #fda085 100%) border-box;
}

#scratchCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  z-index: 2;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #333;
  z-index: 1;
  transition: opacity 0.3s;
}
