* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.wrapper {
  height: 80%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.circle {
  transform: rotateX(85deg) translateY(0);
  border: 2px solid rgb(0, 255, 255);
  height: calc(var(--i) * 40px);
  width: calc(var(--i) * 40px);
  border-radius: 50%;
  position: absolute;
  animation: translate 2s ease-in-out infinite both;
  animation-delay: calc(var(--i) * 0.08s);
  box-shadow: 0px 0px 15px rgb(74, 227, 77), inset 0px 0px 15px rgb(255, 25, 25);
}

@keyframes translate {
  0%,
  100% {
    transform: rotateX(70deg) translateY(-350px);
    filter: hue-rotate(0);
  }
  50% {
    transform: rotateX(70deg) translateY(0px);
    filter: hue-rotate(180deg);
  }
}
