@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: aqua;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.landingPage {
  height: 80vh;
  width: 80vw;
  border: 2px solid black;
  border-radius: 30px;
  position: relative;
}
nav{
    height: 8vmin;
    border: 2px solid black;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10%;
    padding: 10px;

    
}
nav a{
    text-decoration: none;
    color: black;

}
nav li:first-child{
    margin-right: auto;
}

